@import 'tailwindcss';

body {
  background-color: #fafbfc;
  color: #334155;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  font-family: var(--font-inter), system-ui, sans-serif;
}

.dark body {
  background-color: #0f172a;
  color: #f1f5f9;
}
